@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: venite;
    src: url(../font/VeniteAdoremusStraight.ttf);
}

$body-color: #000;
$white: #fff;
$primary-color: #B3841A;

$main-font: 'venite';
$body-font: "Jost", sans-serif;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;

$border-radius: 30px;